In [11]:
import pandas as pd

In [12]:
air_data = pd.read_csv("AirQuality_Daily_StudentVersion.csv")

In [13]:
air_data.head()

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name
0,02/23/24,195089,14.377667,912.884333,62.266667,51.998667,0.051333,0.1000,0.000000,0.002500,0.039667,40.050922,-101.533570,3005,Swnphd-Benklemen
1,02/23/24,195365,12.223600,926.403000,71.193400,64.920800,0.000000,0.1800,0.004800,0.020000,0.176000,40.200330,-100.639885,2576,Swnphd-mccook
2,02/23/24,195541,20.095750,905.670750,61.008250,68.307000,0.020000,0.1625,0.004125,0.014812,0.063937,41.128284,-101.720220,3220,Swnphd-ogallala
3,02/24/24,195089,25.368000,911.708833,51.462458,91.176750,0.052667,0.4375,0.099542,0.170667,0.355208,40.050922,-101.533570,3005,Swnphd-Benklemen
4,02/24/24,195365,23.703083,925.282125,56.818208,107.863708,0.000000,0.4750,0.099208,0.231687,0.548583,40.200330,-100.639885,2576,Swnphd-mccook

In [14]:
air_data.columns

Index(['date', 'monitor_index', 'humidity', 'pressure', 'temperature', 'voc',
       'analog_input', 'pm2.5_alt', 'pm1.0_atm', 'pm2.5_atm', 'pm10.0_atm',
       'sensor.latitude', 'sensor.longitude', 'sensor.altitude',
       'sensor.name'],
      dtype='object')

In [15]:
pollutant_summary = (
    air_data
    .groupby('sensor.name')
    .agg(
        mean_voc=('voc', 'mean'),
        median_voc=('voc', 'median'),
        mean_pm25=('pm2.5_atm', 'mean'),
        median_pm25=('pm2.5_atm', 'median'),
        mean_pm10=('pm10.0_atm', 'mean'),
        median_pm10=('pm10.0_atm', 'median')
    )
    .reset_index()
)

In [16]:
top5_mean_voc = pollutant_summary.sort_values('mean_voc', ascending=False).head(5)
top5_mean_voc

,sensor.name,mean_voc,median_voc,mean_pm25,median_pm25,mean_pm10,median_pm10
20,Swnphd-ogallala,399.434240,423.082292,10.396579,3.518510,11.347889,4.149646
9,FCHD-YPS,372.462720,375.383500,9.167842,5.838188,11.138241,7.442750
23,Three Rivers Public Health Department,370.216208,376.810167,9.601760,6.860375,11.226492,8.239708
6,ELVPHD Norfolk HD 4,360.833744,368.580500,13.369492,9.706229,15.969341,11.474708
19,Swnphd-mccook,353.941581,381.468479,123.011622,4.582281,124.227336,5.372073

In [17]:
top5_median_voc = pollutant_summary.sort_values('median_voc', ascending=False).head(5)
top5_median_voc

,sensor.name,mean_voc,median_voc,mean_pm25,median_pm25,mean_pm10,median_pm10
20,Swnphd-ogallala,399.434240,423.082292,10.396579,3.518510,11.347889,4.149646
19,Swnphd-mccook,353.941581,381.468479,123.011622,4.582281,124.227336,5.372073
23,Three Rivers Public Health Department,370.216208,376.810167,9.601760,6.860375,11.226492,8.239708
9,FCHD-YPS,372.462720,375.383500,9.167842,5.838188,11.138241,7.442750
6,ELVPHD Norfolk HD 4,360.833744,368.580500,13.369492,9.706229,15.969341,11.474708

In [18]:
top5_mean_pm25 = pollutant_summary.sort_values('mean_pm25', ascending=False).head(5)
top5_mean_pm25

,sensor.name,mean_voc,median_voc,mean_pm25,median_pm25,mean_pm10,median_pm10
4,Broken Bow,158.285807,138.559646,928.710593,36.050240,929.678512,43.179094
0,#16 - Richardson County Courthouse,86.758650,84.470500,700.127342,11.977344,701.632446,13.305615
2,#18 - Southeast District Health Department- Te...,196.150771,138.582583,613.175352,10.322875,614.227248,11.433729
13,NCDHD O'Neill #11,283.633000,238.404833,164.495078,7.251208,166.132578,8.427437
19,Swnphd-mccook,353.941581,381.468479,123.011622,4.582281,124.227336,5.372073

In [19]:
top5_median_pm25 = pollutant_summary.sort_values('median_pm25', ascending=False).head(5)
top5_median_pm25

,sensor.name,mean_voc,median_voc,mean_pm25,median_pm25,mean_pm10,median_pm10
4,Broken Bow,158.285807,138.559646,928.710593,36.050240,929.678512,43.179094
0,#16 - Richardson County Courthouse,86.758650,84.470500,700.127342,11.977344,701.632446,13.305615
2,#18 - Southeast District Health Department- Te...,196.150771,138.582583,613.175352,10.322875,614.227248,11.433729
6,ELVPHD Norfolk HD 4,360.833744,368.580500,13.369492,9.706229,15.969341,11.474708
8,ELVPHD Wisner HD 5,102.291126,100.709271,11.154420,8.464583,14.462116,10.935958

In [20]:
top5_mean_pm10 = pollutant_summary.sort_values('mean_pm10', ascending=False).head(5)
top5_mean_pm10

,sensor.name,mean_voc,median_voc,mean_pm25,median_pm25,mean_pm10,median_pm10
4,Broken Bow,158.285807,138.559646,928.710593,36.050240,929.678512,43.179094
0,#16 - Richardson County Courthouse,86.758650,84.470500,700.127342,11.977344,701.632446,13.305615
2,#18 - Southeast District Health Department- Te...,196.150771,138.582583,613.175352,10.322875,614.227248,11.433729
13,NCDHD O'Neill #11,283.633000,238.404833,164.495078,7.251208,166.132578,8.427437
19,Swnphd-mccook,353.941581,381.468479,123.011622,4.582281,124.227336,5.372073

In [21]:
top5_median_pm10 = pollutant_summary.sort_values('median_pm10', ascending=False).head(5)
top5_median_pm10

,sensor.name,mean_voc,median_voc,mean_pm25,median_pm25,mean_pm10,median_pm10
4,Broken Bow,158.285807,138.559646,928.710593,36.050240,929.678512,43.179094
0,#16 - Richardson County Courthouse,86.758650,84.470500,700.127342,11.977344,701.632446,13.305615
6,ELVPHD Norfolk HD 4,360.833744,368.580500,13.369492,9.706229,15.969341,11.474708
2,#18 - Southeast District Health Department- Te...,196.150771,138.582583,613.175352,10.322875,614.227248,11.433729
8,ELVPHD Wisner HD 5,102.291126,100.709271,11.154420,8.464583,14.462116,10.935958

In [24]:
max_voc_event = air_data.loc[air_data['voc'].idxmax(), ['date', 'sensor.name', 'voc']]
max_voc_event

date           2024-06-24 00:00:00
sensor.name        Swnphd-ogallala
voc                    1209.931571
Name: 2391, dtype: object

In [25]:
max_pm25_event = air_data.loc[air_data['pm2.5_atm'].idxmax(), ['date', 'sensor.name', 'pm2.5_atm']]
max_pm25_event

date                          2025-02-18 00:00:00
sensor.name    #16 - Richardson County Courthouse
pm2.5_atm                             3782.823313
Name: 7561, dtype: object

In [26]:
max_pm10_event = air_data.loc[air_data['pm10.0_atm'].idxmax(), ['date', 'sensor.name', 'pm10.0_atm']]
max_pm10_event

date                          2025-02-18 00:00:00
sensor.name    #16 - Richardson County Courthouse
pm10.0_atm                            3784.682542
Name: 7561, dtype: object

In [29]:
air_data.groupby('temperature')['pm2.5_atm'].mean()

temperature
2.166208      3205.868854
2.267917      2363.017646
2.430208      3179.970687
2.762792         3.288542
3.553625         7.521250
                 ...
100.452750       8.359687
100.546583       4.839313
101.370750      14.606167
102.113875       9.155396
116.455286       1.408286
Name: pm2.5_atm, Length: 7831, dtype: float64

In [31]:
def assign_temp_category(t):
    if t < 32:
        return 'Cold'
    elif 32 <= t <= 50:
        return 'Cool'
    elif 51 <= t <= 70:
        return 'Mild'
    else:
        return 'Warm/Hot'

air_data['temp_category'] = air_data['temperature'].apply(assign_temp_category)

air_data[['temperature', 'temp_category']].head()

   temperature temp_category
0    62.266667          Mild
1    71.193400      Warm/Hot
2    61.008250          Mild
3    51.462458          Mild
4    56.818208          Mild

In [32]:
air_data.groupby('temp_category')['pm2.5_atm'].mean()

temp_category
Cold        273.698560
Cool        141.658843
Mild         83.102238
Warm/Hot     72.309380
Name: pm2.5_atm, dtype: float64

In [34]:
def assign_humidity_category(h):
    if h < 30:
        return 'Low'
    elif 30 <= h <= 60:
        return 'Moderate'
    else:
        return 'High'

air_data['humidity_category'] = air_data['humidity'].apply(assign_humidity_category)
air_data.groupby('humidity_category')['pm2.5_atm'].mean()

humidity_category
High        391.836365
Low          67.130970
Moderate     80.596648
Name: pm2.5_atm, dtype: float64

In [36]:
def assign_aqi_category(pm):
    if pm <= 12:
        return "Good"
    elif pm <= 35.4:
        return "Moderate"
    elif pm <= 55.4:
        return "Unhealthy for Sensitive Groups"
    elif pm <= 150.4:
        return "Unhealthy"
    else:
        return "Very Unhealthy/Hazardous"

air_data['pm25_aqi_category'] = air_data['pm2.5_atm'].apply(assign_aqi_category)
air_data['pm25_aqi_category'].value_counts()

pm25_aqi_category
Good                              5994
Moderate                          1786
Very Unhealthy/Hazardous           392
Unhealthy for Sensitive Groups     119
Unhealthy                           10
Name: count, dtype: int64

In [40]:
def assign_altitude(y):
    if y < 2500:
        return 'Low'
    elif 2500 <= y <= 3000:
        return 'Medium'
    else:
        return 'High'

air_data['altitude_category'] = air_data['sensor.altitude'].apply(assign_altitude)

air_data[['sensor.altitude', 'altitude_category']].head()

   sensor.altitude altitude_category
0             3005              High
1             2576            Medium
2             3220              High
3             3005              High
4             2576            Medium

In [41]:
air_data.groupby('altitude_category')['pm2.5_atm'].mean()

altitude_category
High        7.856594
Low        75.587311
Medium    287.063889
Name: pm2.5_atm, dtype: float64

In [42]:
air_data.groupby('altitude_category')['pm10.0_atm'].mean()

altitude_category
High        8.999231
Low        77.190331
Medium    288.321373
Name: pm10.0_atm, dtype: float64

In [43]:
air_data.groupby('altitude_category')['voc'].mean()

altitude_category
High      324.971952
Low       269.447556
Medium    241.718279
Name: voc, dtype: float64